.section-text {
  font-style: italic;
  color: #ccc; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px; }

.col-1 {
  flex: 8.333%;
  max-width: 8.333%; }

.col-2 {
  flex: 16.667%;
  max-width: 16.667%; }

.col-3 {
  flex: 25%;
  max-width: 25%; }

.col-4 {
  flex: 33.333%;
  max-width: 33.333%; }

.col-5 {
  flex: 41.667%;
  max-width: 41.667%; }

.col-6 {
  flex: 50%;
  max-width: 50%; }

.col-7 {
  flex: 58.333%;
  max-width: 58.333%; }

.col-8 {
  flex: 66.667%;
  max-width: 66.667%; }

.col-9 {
  flex: 75%;
  max-width: 75%; }

.col-10 {
  flex: 83.333%;
  max-width: 83.333%; }

.col-11 {
  flex: 91.667%;
  max-width: 91.667%; }

.col-12 {
  flex: 100%;
  max-width: 100%; }

.align-center {
  margin: 0 auto; }

/* BIGGER THAN 600px */
@media (min-width: 600px) {
  .container {
    max-width: 576px; }
  .col-sm-1 {
    flex: 8.333%;
    max-width: 8.333%; }
  .col-sm-2 {
    flex: 16.667%;
    max-width: 16.667%; }
  .col-sm-3 {
    flex: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 33.333%;
    max-width: 33.333%; }
  .col-sm-5 {
    flex: 41.667%;
    max-width: 41.667%; }
  .col-sm-6 {
    flex: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 58.333%;
    max-width: 58.333%; }
  .col-sm-8 {
    flex: 66.667%;
    max-width: 66.667%; }
  .col-sm-9 {
    flex: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 83.333%;
    max-width: 83.333%; }
  .col-sm-11 {
    flex: 91.667%;
    max-width: 91.667%; }
  .col-sm-12 {
    flex: 100%;
    max-width: 100%; } }

/* BIGGER THAN 768px */
@media (min-width: 768px) {
  .container {
    max-width: 750px; }
  .col-md-1 {
    flex: 8.333%;
    max-width: 8.333%; }
  .col-md-2 {
    flex: 16.667%;
    max-width: 16.667%; }
  .col-md-3 {
    flex: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 33.333%;
    max-width: 33.333%; }
  .col-md-5 {
    flex: 41.667%;
    max-width: 41.667%; }
  .col-md-6 {
    flex: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 58.333%;
    max-width: 58.333%; }
  .col-md-8 {
    flex: 66.667%;
    max-width: 66.667%; }
  .col-md-9 {
    flex: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 83.333%;
    max-width: 83.333%; }
  .col-md-11 {
    flex: 91.667%;
    max-width: 91.667%; }
  .col-md-12 {
    flex: 100%;
    max-width: 100%; }
  .align-center-md {
    margin: 0 auto; } }

/* BIGGER THAN 992px */
@media (min-width: 992px) {
  .container {
    max-width: 980px; }
  .col-bg-1 {
    flex: 8.333%;
    max-width: 8.333%; }
  .col-bg-2 {
    flex: 16.667%;
    max-width: 16.667%; }
  .col-bg-3 {
    flex: 25%;
    max-width: 25%; }
  .col-bg-4 {
    flex: 33.333%;
    max-width: 33.333%; }
  .col-bg-5 {
    flex: 41.667%;
    max-width: 41.667%; }
  .col-bg-6 {
    flex: 50%;
    max-width: 50%; }
  .col-bg-7 {
    flex: 58.333%;
    max-width: 58.333%; }
  .col-bg-8 {
    flex: 66.667%;
    max-width: 66.667%; }
  .col-bg-9 {
    flex: 75%;
    max-width: 75%; }
  .col-bg-10 {
    flex: 83.333%;
    max-width: 83.333%; }
  .col-bg-11 {
    flex: 91.667%;
    max-width: 91.667%; }
  .col-bg-12 {
    flex: 100%;
    max-width: 100%; }
  .col-bg-1-offset {
    margin-left: 8.333%; }
  .col-bg-2-offset {
    margin-left: 16.667%; } }

/* BIGGER THAN 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .col-xl-1 {
    flex: 8.333%;
    max-width: 8.333%; }
  .col-xl-2 {
    flex: 16.667%;
    max-width: 16.667%; }
  .col-xl-3 {
    flex: 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 33.333%;
    max-width: 33.333%; }
  .col-xl-5 {
    flex: 41.667%;
    max-width: 41.667%; }
  .col-xl-6 {
    flex: 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 58.333%;
    max-width: 58.333%; }
  .col-xl-8 {
    flex: 66.667%;
    max-width: 66.667%; }
  .col-xl-9 {
    flex: 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 83.333%;
    max-width: 83.333%; }
  .col-xl-11 {
    flex: 91.667%;
    max-width: 91.667%; }
  .col-xl-12 {
    flex: 100%;
    max-width: 100%; }
  .col-xl-1-offset {
    margin-left: 8.333%; }
  .col-xl-2-offset {
    margin-left: 16.667%; } }

.techlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .techlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: .4s;
    filter: grayscale(100);
    cursor: pointer; }
    .techlist-item:hover {
      filter: grayscale(0); }
  .techlist-icon {
    width: 48px;
    height: 48px; }
  .techlist-text {
    font-size: 14px;
    font-weight: 600;
    color: #1f3044;
    margin-top: 4px; }

.project {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  margin: 1.5rem 0;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  transition: all .4s; }
  .project-img {
    display: block;
    transition: all .4s; }
  .project-content {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 90%;
    transition: .8s;
    padding: 1rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(0); }
  .project-info {
    color: #000000; }
  .project-heading {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 5px; }
  .project-link {
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    outline: none;
    border: none;
    display: inline-block;
    color: #000000;
    border: 1px solid #000000;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1; }
    .project-link:hover {
      color: #ffffff; }
    .project-link::before {
      content: '';
      display: block;
      position: absolute;
      background: #000000;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transition: .4s;
      z-index: -1; }
    .project-link:hover::before {
      background: #000000;
      transform: scale(1); }
  .project:hover .project-content {
    opacity: 1;
    background: #ffffff;
    transform: scale(1); }

.social-media__list {
  list-style-type: none;
  display: flex;
  justify-content: center; }

.social-media__link {
  text-decoration: none;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 1rem;
  transition: .4s; }
  .social-media__link:hover {
    color: white; }

.load {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #CCCCCC;
  position: fixed;
  display: none; }
  .load-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .load-square {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
    border-top: 5px solid #2256AF;
    animation: spinner 1s ease-in-out infinite; }
  .load.active {
    display: block; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.btn {
  font-family: 'Lato', sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  color: #ffffff;
  transition: all .4s; }
  .btn-submit {
    background: #2256af;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px; }
    .btn-submit i {
      font-size: 2.6rem;
      vertical-align: middle;
      padding-right: 5px; }
    .btn-submit:hover {
      background: #0e1f3e; }

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }
  .divider__line {
    width: 45px;
    height: 3px;
    background: #2256af;
    display: inline-block;
    margin: 0 10px; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #414142;
  background: #ffffff; }

.wrapper {
  text-align: center; }

.heading-1, .heading-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  letter-spacing: 1px; }

.heading-1 {
  font-size: 7.4rem; }
  .heading-1-sub {
    color: #2256af; }
  @media (max-width: 600px) {
    .heading-1 {
      font-size: 5.8rem; } }

.heading-2 {
  font-size: 2.2rem;
  margin-top: 10px;
  display: inline-block; }

.heading-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #000000; }

.intro {
  margin-bottom: 4rem; }
  .intro-heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);
    position: relative; }
  .intro-number {
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%); }
  .intro-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    line-height: 2.4rem;
    color: #646c79; }

.home {
  height: 100vh;
  background-image: linear-gradient(40deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/main-bg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .home-content {
    height: 100%;
    position: relative;
    color: #ecf0f1; }
  .home-text {
    padding-top: 35vh; }
  .home-anchor {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    margin-left: -21px;
    animation: bounce 2s infinite; }
    .home-anchor-link {
      font-size: 36px;
      color: #ffffff;
      display: inline-block;
      transform: rotate(90deg);
      text-decoration: none; }
  .home .name-color {
    font-weight: 700;
    color: #fb9039; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

.section-heading {
  padding: 4rem 0; }

.about {
  padding: 6rem 0 8rem;
  background: #F1F8FF; }
  .about-block {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 5px;
    transition: .4s; }
    @media (max-width: 768px) {
      .about-block {
        display: inline-block; } }
  .about-block:hover {
    box-shadow: 0px 15px 30px -2px rgba(0, 0, 0, 0.2); }
  .about-block:hover .about-icon {
    filter: grayscale(0);
    opacity: 1; }
  .about-block--middle {
    flex-direction: row-reverse; }
  .about-content {
    width: 75%;
    margin: 0 auto; }
  .about-icon {
    margin: 1.2rem 0;
    width: 16rem;
    opacity: .6;
    filter: grayscale(1);
    transition: .4s; }
  .about-text {
    color: #212221;
    line-height: 1.4;
    letter-spacing: .2px; }

.technologies {
  padding: 6rem 0; }

.portfolio {
  padding: 5rem 0;
  color: #000000;
  background: #F1F8FF; }

.contact {
  padding: 6rem 0; }

.footer {
  padding: 3rem 0;
  color: #ecf0f1;
  background: #C1C6CC; }
  .footer-content {
    text-align: center; }
  .footer-text {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
  transform: translateX(-30rem);
  transition: .6s ease-in; }
  .navbar.active {
    transform: translateX(0); }
  .navbar-button {
    position: absolute;
    top: 4rem;
    right: -4rem;
    width: 4rem;
    height: 4rem;
    background: #2256af;
    color: #ffffff;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
    font-size: 3rem;
    outline: none;
    border: none;
    cursor: pointer; }
  .navbar-icon {
    display: inline-block;
    transform: rotate(0deg); }
    .navbar-icon.rotate {
      transform: rotate(180deg); }
  .navbar-main {
    height: 100vh;
    overflow-y: auto; }
  .navbar-header {
    margin-top: 6rem; }
  .navbar-nav {
    margin: 14rem 0 4rem; }
  .navbar-list {
    list-style-type: none; }
  .navbar-item {
    margin: 2rem 0; }
  .navbar-link {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 5px 0;
    transition: .4s; }
    .navbar-link::before, .navbar-link::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 2px;
      background: white;
      transform: scaleX(0);
      transition: .8s .2s; }
    .navbar-link::before, .navbar-link::after {
      position: absolute;
      left: 0; }
    .navbar-link::before {
      top: 0; }
    .navbar-link::after {
      bottom: 0; }
    .navbar-link:hover::before, .navbar-link:hover::after {
      transform: scaleX(1); }
    .navbar-link:hover {
      color: white; }
  .navbar-contact {
    margin: 4rem 0;
    color: rgba(255, 255, 255, 0.8); }
  .navbar-phone {
    margin-bottom: .5rem; }

.form-body {
  width: 80%; }
  @media (max-width: 1200px) {
    .form-body {
      width: 60%;
      margin: 0 auto; } }
  @media (max-width: 768px) {
    .form-body {
      width: 100%; } }

.form-group {
  position: relative;
  margin-bottom: 3rem; }

.form-label {
  pointer-events: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 12px;
  left: 10px;
  transition: .4s; }
  .form-label.active {
    bottom: 45px; }
  .form-label--textarea {
    bottom: 75px; }
  .form-label--textarea.active {
    bottom: 110px; }

.form-field {
  font-family: 'Lato', sans-serif;
  background: #F1F8FF;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8); }
  .form-field--textarea {
    height: 100px;
    resize: none; }
  .form-field.invalid {
    background: rgba(192, 57, 43, 0.5); }
  .form-field.valid {
    background: rgba(39, 174, 96, 0.5); }

.form-icon {
  width: 24rem; }
  @media (max-width: 1200px) {
    .form-icon {
      width: 16rem;
      margin-bottom: 4rem; } }

.background {
  position: absolute;
  left: 0;
  top: 0; }
