
// SECTION TECHNOLOGIES LIST

.techlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		transition: .4s;
		filter: grayscale(100);
		cursor: pointer;

		&:hover {
			filter: grayscale(0);
		}
	}

	&-icon {
		width: 48px;
		height: 48px;
	}

	&-text {
		font-size: 14px;
		font-weight: 600;
		color: $secondary-color;
		margin-top: 4px;
	}
}


// PROJECT COMPONENT

.project {
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	margin: 1.5rem 0;
	overflow: hidden;
	box-shadow: 0 0 5px 1px $light-black-shadow;
	border: 1px solid $black-color;
	transition: all .4s;

	&-img {
		display: block;
		transition: all .4s;
	}

	&-content {
		position: absolute;
		top: 5%;
		left: 2.5%;
		width: 95%;
		height: 90%;
		transition: .8s;
		padding: 1rem;
		opacity: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transform: scale(0);
	}

	&-info {
		color: $black-color;
	}

	&-heading {
		font-size: 2rem;
		font-weight: 600;
		padding-bottom: 5px;
	}

	&-link {
		width: 140px;
		height: 50px;
		line-height: 50px;
		font-size: 13px;
		outline: none;
		border: none;
		display: inline-block;
		color: $black-color;
		border: 1px solid $black-color;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 1;

		&:hover {
			color: $white-color;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: $black-color;
			width: 100%;
			height: 100%;
			transform: scaleY(0);
			transition: .4s;
			z-index: -1;
		}

		&:hover::before {
			background: $black-color;
			transform: scale(1);
		}
	}

	&:hover &-content {
		opacity: 1;
		background: $white-color;
		transform: scale(1);
	}
}

// ICONS STYLES

.social-media {
    
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    &__link {
    	text-decoration: none;
        font-size: 3rem;
        color: rgba($white-color, .6);
        margin: 1rem;
        transition: .4s;

        &:hover {
        	color: rgba($white-color, 1);
        }
    }
}

// PRELOADER

.load {
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background: #CCCCCC;
	position: fixed;
	display: block;

	&-block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&-square {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border: 5px solid $white-color;
		border-top: 5px solid $primary-color;
		animation: spinner 1s ease-in-out infinite;
	}

	&.hide {
		display: none;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// BUTTONS STYLES

.btn {
	font-family: 'Lato', sans-serif;
	border: none;
	outline: none;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
	color: $white-color;
	transition: all .4s;

	&-submit {
		background: $primary-color;
		padding: 1rem 4rem;
		font-size: 1.6rem;
		font-weight: 600;
		border: 2px solid $primary-color;
		border-radius: 5px;

		i {
			font-size: 2.6rem;
			vertical-align: middle;
			padding-right: 5px;
		}

		&:hover {
			background: $white-color;
			color: $primary-color;
		}
	}
}

// HORIZONTAL LINE

.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;

	&__line {
		width: 45px;
		height: 3px;
		background: $primary-color;
		display: inline-block;
		margin: 0 10px;
	}
}