.form {

	&-body {
		width: 80%;

		@include screen-xl {
			width: 60%;
			margin: 0 auto;
		}

		@include screen-md {
			width: 100%;
		}
	}

	&-group {
		position: relative;
		margin-bottom: 3rem;
	}

	&-icon {
		position: absolute;
		font-size: 30px;
    right: 10px;
    top: 5px;
		
		&.icofont-check {
			color: $success-info;
			visibility: hidden;
		}

		&.icofont-check.valid {
			visibility: visible;
		}

		&.icofont-error {
			color: $warning-info;
			visibility: hidden;
		}

		&.icofont-error.invalid {
			visibility: visible;
		}
	}

	&-label {
		pointer-events: none;
		font-size: 14px;
		color: $basic-black-shadow;
		position: absolute;
		bottom: 12px;
		left: 10px;
		transition: .4s;

		&.active {
			bottom: 45px;
		}

		&--textarea {
			bottom: 75px;
		}

		&--textarea.active {
			bottom: 110px;
		}
	}

	&-field {
		font-family: 'Lato', sans-serif;
		background: $blue-light-color;
		border: none;
		outline: none;
		border: 1px solid rgba($black-color,.1);
		border-radius: 5px;
		padding: 10px;
		width: 100%;
		font-size: 16px;
		color: $dark-black-shadow;

		&--textarea {
			height: 100px;
			resize: none;
		}

		&.invalid {
			border: 2px solid $warning-info;
		}

		&.valid {
			border: 2px solid $success-info;
		}
	}

	&-envelope {
		width: 24rem;

		@include screen-xl {
			width: 16rem;
			margin-bottom: 4rem;
		}
	}
}