.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex: 100% / 12 * $i;
		max-width: 100% / 12 * $i;
	}
}

.align-center {
	margin: 0 auto;
}

/* BIGGER THAN 600px */

@media (min-width: $screen-sm) {

	.container {max-width: 576px;}

	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			flex: 100% / 12 * $i;
			max-width: 100% / 12 * $i;
		}
	}
}

/* BIGGER THAN 768px */

@media (min-width: $screen-md) {

	.container {max-width: 750px;}

	@for $i from 1 through 12 {
		.col-md-#{$i} {
			flex: 100% / 12 * $i;
			max-width: 100% / 12 * $i;
		}
	}

	.align-center-md {
		margin: 0 auto;
	}
}

/* BIGGER THAN 992px */

@media (min-width: $screen-bg) {

	.container {max-width: 980px;}

	@for $i from 1 through 12 {
		.col-bg-#{$i} {
			flex: 100% / 12 * $i;
			max-width: 100% / 12 * $i;
		}
	}

	.col-bg-1-offset {
	  margin-left: 8.333%;
	}

	.col-bg-2-offset {
		margin-left: 16.667%;
	}
}

/* BIGGER THAN 1200px */

@media (min-width: $screen-xl) {

	.container {max-width: 1170px;}

	@for $i from 1 through 12 {
		.col-xl-#{$i} {
			flex: 100% / 12 * $i;
			max-width: 100% / 12 * $i;
		}
	}

	.col-xl-1-offset {
	  margin-left: 8.333%;
	}

	.col-xl-2-offset {
		margin-left: 16.667%;
	}
}