*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; 
    font-family: 'Lato', sans-serif;
    color: $grey-dark-color;
    background: $white-color;
}

.wrapper {
    text-align: center;
}

// Typography base styles

.heading {
    color: $grey-dark-color;

    &-1 {
        font-size: 4.4rem;
        font-weight: 400;

        @include screen-sm {
            font-size: 3.8rem;
        }
    }

    &-2 {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: inline-block;
    }

    &-3 {

    }
}

.intro {
    margin-bottom: 4rem;

    &-heading {
        font-size: 2.8rem;
        color: $grey-dark-color;
    }

    &-text {
        font-size: 1.8rem;
        font-style: italic;
        color: #646c79;
    }
}

// scrollbar styles

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: $secondary-color;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($primary-color, .7);
}