.navbar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30rem;
	z-index: 999;
	background: rgba(0,0,0,.8);
	box-shadow: 0 0 10px -2px $basic-black-shadow;
	transform: translateX(-30rem);
	transition: .6s ease-in;

	&.active {
		transform: translateX(0);
	}

	&-button {
		position: absolute;
		top: 4rem;
		right: -4rem;
		width: 4rem;
		height: 4rem;
		background: #2256af;
		color: $white-color;
		box-shadow: 0 0 10px -2px $basic-black-shadow;
		font-size: 3rem;
		outline: none;
		border: none;
		cursor: pointer;
	}

	&-icon {
		display: inline-block;
	    transform: rotate(0deg);

	    &.rotate {
	    	transform: rotate(180deg);
	    }
	}

	&-main {
		height: 100vh;
		overflow-y: auto;
	}

	&-header {
		margin-top: 6rem;
	}

	&-nav {
		margin: 14rem 0 4rem;
	}

	&-list {
		list-style-type: none;
	}

	&-item {
		margin: 2rem 0;
	}

	&-link {
		font-size: 3rem;
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		color: rgba(255,255,255,.8);
		position: relative;
		padding: 5px 0;
		transition: .4s;

		&::before,
		&::after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 2px;
			background: rgba(255,255,255,1);
			transform: scaleX(0);
			transition: .4s .2s;
		}

		&::before,
		&::after {
			position: absolute;
			left: 0;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&:hover::before,
		&:hover::after {
			transform: scaleX(1);
		}

		&:hover {
			color: rgba(255,255,255,1);
		}
	}
}