// $primary-color: #e6ce1d;
$primary-color: #fb9039;
$secondary-color: #1f3044;

// $secondary-color: #79787C;

$basic-black-shadow: rgba(0,0,0,0.4);
$light-black-shadow: rgba(0,0,0,0.1);
$dark-black-shadow: rgba(0,0,0,.8);

$black-color: #000000;
$white-color: #ffffff;
$white-color-dark: #ecf0f1;

$grey-dark-color: #414142;

$danger-color: #e74c3c;
$success-color: #27ae60;

// GRID WIDTH:

$grid-width: 1170px;

// MQ BREAKPOINTS:

$screen-xl: 1200px;
$screen-bg: 992px;
$screen-md: 768px;
$screen-sm: 600px;