
$primary-color: #2256AF;
$secondary-color: #1f3044;

$basic-black-shadow: rgba(0,0,0,0.4);
$light-black-shadow: rgba(0,0,0,0.1);
$dark-black-shadow: rgba(0,0,0,.8);

$black-color: #000000;
$white-color: #ffffff;
$white-color-dark: #ecf0f1;
$blue-light-color: #F1F8FF;
$grey-dark-color: #414142;

$warning-info: #e74c3c;
$success-info: #2ecc71;

// GRID WIDTH:

$grid-width: 1170px;

// MQ BREAKPOINTS:

$screen-xl: 1200px;
$screen-bg: 992px;
$screen-md: 768px;
$screen-sm: 600px;
$screen-xsm: 400px;